### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Setup build
build
# Jupyter Notebook
.ipynb_checkpoints


### Pycharm
.idea


### VSCode template
.vscode
